@model ListaTarefas.Models.Item

@{
    ViewData["Title"] = "Deletar";
}

<h1>Delete</h1>

<h3>Tem certeza que deseja deletar essa tarefa?</h3>
<div>
    <h4>Tarefa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
